<h1> Edit Photo <%= @my_photo %> </h1>

<form action = "/update_photo">
  <label for="cap_update"> The Caption  </label>
  <input id="cap_update" type="text" name="da_caption_update">
  <label for="src_update"> The Source  </label>
  <input id= "src_uptade" type="text" name="da_source_update">
  <button> Update Photo </button>
</form>
