<h1> Edit Photo <%= @my_photo_to_edit.id %> </h1>

<form action = "/update_photo/<%= @my_photo_to_edit.id %>">
  <label for="cap"> The Caption  </label>
  <input id="cap" type="text" name="da_caption_update" value="<%= @my_photo_to_edit.caption %>">
  <label for="src"> The Source  </label>
  <input id= "src" type="text" name="da_source_update" value="<%= @my_photo_to_edit.source%>">
  <button> Update Photo </button>
</form>
